<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>sn0int registry</title>
        <link rel="stylesheet" href="/assets/{{ASSET_REV}}/style.css">
    </head>
    <body>
        <h1><a href="/">sn0int</a></h1>

        {{~> page}}
    </body>
</html>
