<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>sn0int registry</title>
        <link rel="stylesheet" href="/assets/{{ASSET_REV}}/style.css">
    </head>
    <body>
        <h1 class="center"><a href="/">sn0int registry</a></h1>
        <nav>
            <p class="center">
                [ <a href="https://github.com/kpcyrd/sn0int" target="_blank" rel="noopener">github</a> ]
                [ <a href="https://sn0int.readthedocs.io/" target="_blank" rel="noopener">docs</a> ]
                [ <a href="https://www.reddit.com/r/sn0int" target="_blank" rel="noopener">reddit</a> ]
                [ <a href="https://chaos.social/@sn0int" target="_blank" rel="noopener">mastodon</a> ]
                [ <a href="https://webirc.hackint.org/#irc://irc.hackint.org/#sn0int" target="_blank" rel="noopener">irc</a> ]
            </p>
        </nav>

        {{~> page}}
    </body>
</html>
