{{#*inline "page"}}
        <p>
This is the registry server of sn0int, a semi-automatic OSINT framework and
package manager.  It was built for IT security professionals and bug hunters to
gather intelligence about a given target or about yourself. sn0int is
enumerating attack surface by semi-automatically processing public information
and mapping the results in a unified format for followup investigations.
        </p>

        <p>
Among other things, sn0int is currently able to:
        </p>

        <ul class="list-unstyled">
<li>- Harvest subdomains from certificate transparency logs</li>
<li>- Harvest subdomains from various passive dns logs</li>
<li>- Sift through subdomain results for publicly accessible websites</li>
<li>- Harvest emails from pgp keyservers</li>
<li>- Enrich ip addresses with ASN and geoip info</li>
<li>- Harvest subdomains from the wayback machine</li>
<li>- Gather information about phonenumbers</li>
<li>- Bruteforce interesting urls</li>
        </ul>

        <p>
sn0int is heavily inspired by recon-ng and maltego, but remains more flexible
and is fully opensource.  None of the investigations listed above are hardcoded
in the source, instead those are provided by modules that are executed in a
sandbox. You can easily extend sn0int by writing your own modules and share
them with other users by publishing them to the sn0int registry. This allows
you to ship updates for your modules on your own since you don't need to send a
pull request.
        </p>

        <p>
        The registry server allows uploading modules that can be installed by
        users afterwards. This is done using sn0int which needs to be <a
        href="https://sn0int.readthedocs.io/en/latest/install.html"
        target="_blank" rel="noopener">installed</a>.
        </p>

        <p>
        You can search for modules with sn0int using:
        </p>
        <p class="code"><code>
        sn0int search ctlogs
        </code></p>

        <p>
        To install the module afterwards run:
        </p>
        <p class="code"><code>
        sn0int install kpcyrd/ctlogs
        </code></p>

        <p>
        If you want to publish your own module, you need to login with github first:
        </p>
        <p class="code"><code>
        sn0int login
        </code></p>

        <p>
        Afterwards you can upload your module to the registry (this is going to
        publish your module as yourgithubuser/example):
        </p>
        <p class="code"><code>
        sn0int publish ./path/to/example.lua
        </code></p>

        <p>
        For more information, visit <a href="https://github.com/kpcyrd/sn0int"
        target="_blank" rel="noopener">sn0int on github</a>.
        </p>
{{/inline}}
{{~> base }}
