body {
    background-color: black;
    color: #00aa00;
    font-family: monospace;
    max-width: 900px;
    margin: 20px auto;
    font-size: 14px;
    line-height: 18px;
}

input {
    border: 1px solid #00aa00;
    padding: 10px 15px;
    background: black;
    color: #00aa00;
    cursor: pointer;
    font-weight: bold;
}

h1 a {
    text-decoration: none;
    color: #00aa00;
}

a {
    color: #00aa00;
}

.copy {
    cursor: pointer;
}

.code {
    background-color: #222;
    padding: 10px;
}

.center {
    text-align: center;
}

.modules {
    list-style: none;
    padding: 0;
    word-break: break-word;
}

.modules li {
    padding: 2px 5px;
    margin: 1px 0;
    background-color: #222;
}

.modules li .copy {
    display: none;
}

.modules li:hover .copy {
    display: inline;
}

.mod-cell {
    display: inline-block;
    vertical-align: top;
}

.mod-name {
    width: 35%;
}

.mod-name a {
    text-decoration: none;
    color: #00cc00;
    font-weight: bold;
}

.mod-version {
    width: 15%;
}

.mod-descr {
    width: 50%;
}

.noscript-hidden {
    display: none !important;
}

pre {
    white-space: pre-wrap;
}

.source .comment {
    color: #2179d7;
}

.source .control, .source .operator {
    color: #caca47;
}

.source .string, .source .constant {
    color: #d90000;
}
